.delete-button {
  font-weight: bold;
  font-size: 30px;
  margin: 0 auto;
  vertical-align: center;
  height: 100%;
  border-radius: 5px;
  border: none;
  background-color: rgb(236, 67, 67);
  color: white;
  margin-top: 300px;
}
